.vs/NetCover/v17/.suo
.vs/NetCover/DesignTimeBuild/.dtbcache.v2
.vs/ProjectEvaluation/netcover.metadata.v7.bin
.vs/NetCover/v17/.futdcache.v2
.vs/NetCover/v17/DocumentLayout.json
.vs/ProjectEvaluation/netcover.projects.v7.bin
