<div class="flex justify-content-center sticky top-3 z-1">
  <p-dropdown
    [options]="networks"
    [(ngModel)]="selectedNetwork"
    optionLabel="network"
    placeholder="Select a Network Provider"
    [checkmark]="false"
    [dropdownIcon]=""
    [styleClass]="'border-round-xl shadow-2  mt-3 '"
    (onChange)="updateMapMarkers()"
  />
</div>

<div id="map" class="overflow-visible z-0"></div>

<div *ngIf="loading" class="loader-overlay">
  <div class="loader">
    <i class="fas fa-spinner fa-spin fa-2x text-white"></i>
  </div>
</div>
